@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

:root {
  --color-primary: #1680f9;
  --color-primary-hover: #278cff;
  --color-secondary: #22572c;

  --color-bg: #324d37;
  --color-card: #212121;
  --color-card-alt: #252525;
  --color-border: #dee2e6;
  --color-text: #f8f8f8;

  --color-error: #ff3c3c;
  --color-error-hover: #e72121;

  --color-winner: #2ba3f3;
  --color-loser: #f32b2b;

  --font-family: 'Roboto', 'Open Sans', sans-serif;
  --font-h1: 1.8em;
  --font-h2: 1.5em;
  --font-body: 0.9em;
  --font-button: 0.8em;

  --border-radius: .7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size:  var(--font-body);
  font-weight: 400;
  color: var(--color-text);
  background-color: rgb(51, 51, 51);
}

h1 {
  font-size: var(--font-h1);
  font-weight: 700;
  color: var(--color-text);
}

h2 {
  font-size: var(--font-h2);
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 1vh;
}

button {
  font-size: var(--font-button);
  font-weight: 700;
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 1vh 1vw;
}

button:hover {
  background-color: var(--color-primary-hover);
}

button:active {
  background-color: var(--color-primary-hover);
}