:root {
  --color-primary: #1680f9;
  --color-primary-hover: #5ea9ff;
  --color-secondary: #22572c;

  --color-bg: #111111;
  --color-card: #212121;
  --color-card-alt: #252525;
  --color-card-hover: #333333;
  --color-card-bar: #2a2a2a;
  --color-border: #dee2e663;
  --color-text: #f8f8f8;

  --color-table-bar: #2c2c2c;
  --color-table: #222222;
  --color-table-alt: #282828;
  --color-table-hover: #333333;

  --color-placeholder: #f8f8f8a1;

  --color-error: #f02929;
  --color-error-hover: #ff5959;

  --color-winner: #38c73f;
  --color-loser: #EF5252;
  --color-me: #2ba3f3;

  --color-icon: #f8f8f8;

  --panel: #161616;

  --font-family: 'Segoe UI', 'Open Sans', sans-serif;
  --font-h1: 1.8em;
  --font-h2: 1.5em;
  --font-body: 0.9em;
  --font-button: 0.8em;

  --border-radius: 0.15rem;
}

.theme-light {
  --color-primary: #0b5ed7;
  --color-primary-hover: #5ea9ff;
  --color-secondary: #2a6f3a;

  --color-bg: #F0F1F2;
  --color-bar: #e8e9f0;
  --color-card: #eceef1;
  --color-card-alt: #f3f6f9;
  --color-card-hover: #e6eef8;
  --color-card-bar: #f0f3f6;
  --color-border: #1d1d1d80;
  --color-text: #0b1220;

  --color-placeholder: #0b1220a1;

  --color-table-bar: #f1f5f9;
  --color-table: #ffffff;
  --color-table-alt: #f8fafc;
  --color-table-hover: #e8eef7;

  --color-icon: #0b1220;

  --color-error: #c32727;
  --color-error-hover: #e05252;

  --color-winner: #0b9b2b;
  --color-loser: #d22d2d;
  --color-me: #1a73e8;

  --panel: #F8F8F8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #app {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-size:  var(--font-body);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  scrollbar-gutter: stable;
}

h1 {
  font-size: var(--font-h1);
  font-weight: 700;
  color: var(--color-text);
}

h2 {
  font-size: var(--font-h2);
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: .75vh;
}

button {
  font-size: var(--font-button);
  font-weight: 600;
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 1vh 1vw;
  transition: background-color 0.15s ease;
}

button:hover {
  background-color: var(--color-primary-hover);
}

button:active {
  background-color: var(--color-primary-hover);
}

.lille-knap {
  background-color: #505050;
}

.fare {
  background-color: #505050 !important;
}
