@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

:root {
  --color-primary: #007bff;
  --color-secondary: #004080;

  --color-bg: #f8f9fa;
  --color-card: #e9ecef;
  --color-card-alt: #d1d3d6;
  --color-border: #dee2e6;
  --color-text: #495057;

  --color-error: #ff4d4d;

  --font-family: 'Roboto', 'Open Sans', sans-serif;
  --font-h1: 1.8em;
  --font-h2: 1.5em;
  --font-body: 0.9em;
  --font-button: 0.5em;

  --border-radius: 0.6vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size:  var(--font-body);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-size: var(--font-h1);
  font-weight: 700;
  color: var(--color-primary);
}

h2 {
  font-size: var(--font-h2);
  font-weight: 600;
  color: var(--color-primary);
}

button {
  font-size: var(--font-button);
  font-weight: 700;
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 8px 16px;
}

button:hover {
  background-color: #3395ff;
}

button:active {
  background-color: var(--color-secondary);
}